<!DOCTYPE html>
<html lang="en">

<head>
  <title>Add friend - SplitSmart</title>
  <%- include('../partials/head') %>
  
</head>




<section class="hero is-fullheight has-background-success-light">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6-tablet is-5-desktop is-4-widescreen"> 
  
            <div class="field has-text-centered">
              <h1 class="title is-3 mt-6">Add New Friends</h1>
            </div>
  
            <form id="addfriend-form">
              <div class="field">
                <label for="" class="label">Name</label>
                <div class="control">
                  <input type="text" name="friend_name" placeholder="John Bob" class="input" required>
                </div>
              </div>
  
              <div class="field">
                  <label for="" class="label">Email</label>
                  <div class="control">
                    <input id="friend_email" type="email" name="friend_email" placeholder="jb@gmail.com" class="input" required>
                  </div>
                </div>
              
              <div class="field">
                  <label for="" class="label">Message</label>
                  <div class="control">
                    <input type="text" placeholder="please add me" class="input" required>
                  </div>
                </div>
   
            <div class="field mt-6">
                <a class="button is-success is-fullwidth ">Add Friend</a>
            </div> 
            <div class="field mt-6">
                <a href="/dashboard" class="button is-dark is-fullwidth ">Go Back</a>
            </div> 
            
  
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </section>

</html>