<!DOCTYPE html>
<html lang="en">

<head>
  <title>Transfer- SplitSmart</title>
  <%- include('../partials/head') %>
  <style>
    .navbar-logo {
        background: url(./../static/SplitSmart-logos_transparent.jpg) no-repeat center center;
        background-size: cover;
        width: 1000px
    }
    .vertical {
        border-right: 1px solid #c7c7c7;
        height: 800px;
        right: 50%;
    }
    .card-table {
        table-layout: fixed;
        height: 650px;
    }

  </style>
</head>

<body>
  <div class="container">
      <div class="columns">

        <!-- menu start -->
          <div class="column is-2 vertical">
              <aside class="menu is-hidden-mobile mt-6">
                  <div class="navbar-brand">
                    <a class="navbar-logo" href="/"></a>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu"></a>
                  </div>
                  
                  <p class="menu-label">
                      General
                  </p>
                  <ul class="menu-list">
                      <li><a href="/dashboard">Dashboard</a></li>
                  </ul>

                  <p class="menu-label">
                      Functions
                  </p>
                  <ul class="menu-list">
                      <li><a href="/friends-list">Friends List</a></li>
                      <li><a href="/transfer-history">Transaction History</a></li>
                  </ul>
                  <a href="/sign-in" class="button is-success is-fullwidth mt-6 ">Log Out</a>

              </aside>
          </div>
        <!-- menu end -->

        <!-- table starts here -->
          <div class="column is-10 ml-2">
            <div class="card events-card mt-4">
                <header class="card-header">
                    <p class="card-header-title">
                        Transactions History
                    </p>
                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                          <thead>
                            <tr>
                              <td width="35%">Shared With</td>
                              <td width="20%">Purpose</td>
                              <td width="25%">Date</td>
                              <td>Amount</td>
                            </tr>
                          </thead>
                          <tbody id="table-body">
                            <!-- <tr>
                              <td>deepak123@gmail.com</td>
                              <td>Utility</td>
                              <td>2022-04-21</td>
                              <td>$20</td>
                            </tr> -->
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
          <div class="field mt-3">
              <a href="/dashboard" class="button is-success is-fullwidth ">Go Back</a>
          </div>        



          </div>
      </div>
  </div>
  <script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-database-compat.js"></script>

<script>
  window.onload = () => {
    const firebaseConfig = {
      apiKey: "AIzaSyD8kvL9cgcg-G2TCNnXygmGMXNdSmnN6jU",
      authDomain: "ruffhouse-cd734.firebaseapp.com",
      projectId: "ruffhouse-cd734",
      storageBucket: "ruffhouse-cd734.appspot.com",
      messagingSenderId: "364754588322",
      appId: "1:364754588322:web:7f41055433c85ea096bdfb"
    };

    firebase.initializeApp(firebaseConfig);

    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        // User is signed in, see docs for a list of available properties
        // https://firebase.google.com/docs/reference/js/firebase.User
        curr_user_id = user.uid;
        const dbRef = firebase.database().ref('users/' + curr_user_id + '/history');
            dbRef.get().then((snapshot) => {
                if (snapshot.exists()) {

                    var row = "";
                    console.log("data is loading")
                    snapshot.forEach((child) => {
                        // console.log(child.key, child.val());
                        // console.log(child.val()['friend_name']);
                        row += '<tr>'+'<td>' + child.val()['sharedwith'] + '</td>'
                          + '<td>' + child.val()['purpose'] + '</td>'
                          + '<td>' + child.val()['date'] + '</td>'
                          +'<td>' + '$' + child.val()['amount'] + '</td>'+'</tr>';
                    });
                    var html = document.getElementById("table-body").innerHTML + row;
                    document.getElementById("table-body").innerHTML = html;
                    console.log("data is loaded")
                } else {
                    console.log("No data available");
                }
                }).catch((error) => {
                console.error(error);
            });
      }
    });
};
</script>

</body>

  
<%- include('../partials/footer') %>

</html>